@charset "UTF-8"; 
/* The body tag style applies to all elements on the page */
video{
    width: 400px;
    padding: 15px;
    margin: 15px;
    background-color: black;
    border: 4px rgb(236, 11, 11);
    box-shadow: 8px 8px 4px rgb(255, 0, 0);
}
button
{
    background-color: black;
    color: rgb(0, 0, 0);
    height: 45px;
    border: 2px rgb(255, 255, 255);
    box-shadow: 10px 10px 5px rgb(0, 255, 115);
    border-radius: 5px;
}
button:hover
{
    background-color: rgb(9, 255, 0);
    color: rgb(4, 0, 255);
    height: 45px;
    border: 2px rgba(248, 0, 0, 0.973);
    box-shadow: -10px -10px 5px rgb(255, 255, 255);
    border-radius: 5px;
}
body { 
    background: yellow; 
    background: -moz-linear-gradient(top, rgb(21, 255, 0) 0%, yellow 100%); 
    background: -webkit-linear-gradient(top, rgb(0, 110, 255) 0%, rgb(0, 60, 255) 100%); 
    background: -o-linear-gradient(top, rgb(0, 38, 255) 0%, rgb(0, 255, 21) 100%); 
    background: linear-gradient(to bottom, red 0%,yellow 100%);
    font-family: Verdana, Geneva, Arial, sans-serif;
        padding: 0px;
        margin: 0px;
        background-color: rgb(187, 17, 17);
        font-family: Verdana, Geneva, Arial, sans-serif;
        padding: 0px;
        margin: 0px;
    }
/* The wrapper ID style is used with a div tag to provide a 960px wide page */
#wrapper
{
width: 960px;
height: 800px;
margin-left: auto;
margin-right: auto;
background-color:LightSlateGrey ;
}
/* The right-column ID style is floated right */
#right-column
{
float: right;
width: 600px;
height: 600px;
background-color:rgb(88, 60, 60);
}
/* The left-column ID style is floated left */
#left-column
{
float: left;
width: 360px;
background-color:silver;
height:600px;
}
/* Defining a style for a set of tags separated by commas applies the style to all
tags */
h1,h2,h3,h4,h5,h6,p,li
{
margin-left:15px;
}
#footer
{
height:80px;
}
#banner
{
height:120px;
background-color:rgb(3, 121, 238);
}
/* Defining a style for a set of tags not separated by commas applies the style
only to all tags within the preceding tag*/
#banner h1
{
color: white;
}
/* Advanced Web design relies on class or ID styles, never tables */
.box {
    height: 100px;
    width: 100px;
    float: left;
    margin: 15px;
    padding: 25px;
    opacity: .5;
    border-radius: 75px;
    background-color: aqua;
}
/* The following pseudo-class applies to the box class when in a hovered state */
.box:hover
{
background-color:white;
opacity:1;
}
/* This clear class style terminates float */
.clear
{
clear: both;
}
header,footer{
    background-color: rgb(0, 0, 0);
    color: rgb(204, 0, 255);
    padding-top: 5px;
    padding-bottom: 5px;
}
aside{
    background-color: beige; 
    float: right;
    width: 200px;
    padding: 5px;
    margin: 5px;
}
figure{
    position: relative;
    width: 230px;
    height: 220px;
    margin: 5px;
    padding: 5px;
    background-color: whitesmoke;
    border: 2px solid black;
}
figurecaption{
    position:bottom;
    background-color: black;
    color: wheat;
}

.profile
{
    width:40px;
    height:40px;
}
.profile2
{
    width:400px;
    height:400px;
}
